WECHAT_APP_ID=wx_your_appid
WECHAT_APP_SECRET=replace_me
DATABASE_URL=jdbc:mysql://127.0.0.1:3306/cunmo?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
DATABASE_USERNAME=cunmo
DATABASE_PASSWORD=replace_me
TOKEN_TTL_SECONDS=7200
SERVER_PORT=8080
AVATAR_STORAGE_DIRECTORY=./data/uploads/avatars
